/* Resetting default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  background: rgb(235, 232, 232);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.link a {
  position: relative;
  padding-bottom: 0.73rem;
  color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
  background-image: linear-gradient(to right, #0075d5 0%, #4facfe 100%);
  display: flex;
  align-items: center;
}

.navbar-header {
  color: white;
  font-weight: 600;
  margin: 0 1rem;
}

.list-items {
  list-style-type: none;
  margin-left: 0.5rem;
}

.list-item {
  display: inline-block;
  padding: 1rem;
  transition: 0.5s;
}

.list-item:hover {
  background-color: #0059a7;
}

.list-item > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Styling the weather card */
.card {
  margin: 0 auto;
  background-image: linear-gradient(to right, #0075d5 0%, #4facfe 100%);
  padding: 1rem;
  text-align: center;
}

/* Adding styles to search bar */
.search {
  margin-top: 8px;
}

.search-input {
  padding: 8px 14px;
  border: none;
  font-size: 20px;
  margin-left: 8px;
  border-radius: 6px;
  outline: none;
  width: 300px;
}

/* Styling the search button */
.search-btn {
  padding: 7px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #7ca1ff;
  background: #7ca1ff;
}

/* Styling temperature container */
.temperature {
  color: #676666;
  font-size: 36px;
  margin: 5px 0;
  font-weight: 300;
}

/* Styling the city/country name */
.location {
  font-weight: 500;
  margin: 4px 0;
  text-transform: uppercase;
}

/* Styling weather image */
.weather-img {
  margin: 0 auto;
  width: 70px;
}

/* Styling weather description */
.weather-description {
  margin-top: 0;
}

.humidity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* colors */

.text-gray {
  color: #4b4949;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

/* font sizes */

.text-lg {
  font-size: 1.25rem;
}

/* margins */

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

/* Text alignment */
.text-left {
  text-align: left;
}

/* Styling temperature and pressure container */
.pressure-container,
.temp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 12px 0;
}



/* Adjusting the map */
.map {
  width: 100%;
  height: 500px;
  margin-top: 2rem;
}

.map {
  margin: 0;
}

.map {
  min-height: 61vh;
}


/* Styling forecast section */
.forecast-container {
  display: flex;
  overflow-x: auto;
}

.forecast-header {
  font-weight: 400;
}

.forecast-card {
  background-color: rgba(255, 255, 255, 0.2);
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
  flex: 0 0 auto;
}


/* Styling main weather information section */
.extra-info-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/* Styling country information card */
.country-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px 0;
}

/* Media query */
@media screen and (max-width: 520px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .location {
    text-align: center;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-header {
    margin: 0 0.5rem;
    font-size: 18px;
  }

  .list-items {
    list-style-type: none;
    margin-right: 0.7rem;
  }

  .list-item {
    padding: 0.5rem;
  }

  .search-input {
    max-width: 80%;
  }
}
