body {
    background: rgb(255, 255, 255);
}

.card {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 3rem;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.search {
    margin-top: 8px;
}

.search-input {
    padding: 7px 10px;
    border: 1px solid  rgb(150, 149, 149);
    font-size: 18px;
    margin-left: 8px;
}